header#nav {
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 0 10px var(--black100);
}

header#nav #navbar {
    display: flex;
    justify-content: space-between;
}

.nav-brand a { 
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}

header nav#navbar ul.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;   
    list-style-type: none;  
}

header nav#navbar ul.nav-list li a{
    color: var(--white);
}

header nav#navbar ul.nav-list li a:hover{
    font-weight: 600;
    transition: 0.3ms;
}