* {
  margin: 0;
  padding: 0;
}
:root {
  --font-family: 'Roboto', arial, cursive;
  --bs-link-color: rgb(21, 31, 48);
}

section {
  scroll-margin-top: 6rem;
}

main {
  margin: 5rem 0 0 0;
}

.navbar-brand img {
  width: 60px;
}

.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  position: absolute;
}

blockquote hr {
  width: 20%;
  margin: 0 auto;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--bs-link-color) !important;
}

.card img {
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

#local {
  padding: 5rem 5rem;
}

#rodape {
  padding: 50px 50px;
}

@media (max-width: 360px){
  .carousel-indicators {
    visibility: hidden;
  }
}

@media (min-width: 361px) and (max-width: 720px) {
}